<h1 class="is-size-4">Items</h1>

<div class="py-4" id="<%= dom_id todo_list %>">
  <% todo_list.todo_items.each_slice(4) do |todo_item_by_4| %>
    <div class="columns is-multiline">
      <% todo_item_by_4.each do |todo_item| %>
        <div class="column is-3-desktop is-12-mobile is-6">
          <div class="notification box has-background-white">
            <p class="is-size-4"><%= todo_item.name %></p>

            <span class="py-2">
              <%= t('activerecord.attributes.todo_list.completed') %>: <%= todo_item.completed %>
            </span>
            <%= link_to '', todo_list_todo_item_path(todo_list, todo_item), data: {
              'turbo-method': :delete,
              'turbo-confirm': t('helpers.actions.confirm')
            }, class: 'delete is-small' %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
